:root {
  --main-bg-color: #0077c1;
  --second-bg-color: #ffffff;
  --third-bg-color: #bdbec1;
  --accent-color: #ff9527;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.test_container {
  width: 80%;
  max-height: 100svh;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.test_wrapp .font_counter {
  /* font-size: 1.5rem; */
  font-size: 120%; /*Тест резиновой верстки*/
  color: var(--accent-color);
}

.test_header {
  position: relative;
  top: -3rem;
  left: 50%;

  width: 50%;
  height: 3rem;
  /* border: 1px solid black; */
}

.test_wrapp {
  width: 100%;
  max-width: 800px;
  min-width: 280px;
  border: 1px solid var(--third-bg-color);
  border-radius: 10px;
  background-color: var(--second-bg-color);
  padding: 1rem;

  display: flex;
  flex-direction: row;
  margin-right: 1.5rem;

  transition: all 2s cubic-bezier(1, 0, 0, 1);

  -webkit-box-shadow: 6px 6px 21px 0px var(--main-bg-color);
  -moz-box-shadow: 8px 6px 21px 0px var(--main-bg-color);
  box-shadow: 8px 6px 21px 0px var(--main-bg-color);
}

.left_col,
.right_col {
  width: 50%;
  height: 100%;
  /* border: 1px solid black; */

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.left_col {
  border-right: 1px dotted var(--third-bg-color);
  overflow: hidden;
}
.right_col {
  border-left: 1px dotted var(--third-bg-color);
}

.img_wrapper {
  width: 90%;
  max-height: 80%;
  margin-top: 10%;

  border-radius: 10px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
}

.img_wrapper img {
  max-width: 100%;
  max-height: 100%;
  transition: all 0.5s ease-in-out;
}

.start_test {
  width: 100%;
  height: 100%;
  /* background-color: palegoldenrod; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start_test_button {
  width: 80%;
  max-width: 500px;
  height: 5rem;

  border-radius: 10px;
  margin-bottom: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 2.5rem;
  background-color: var(--main-bg-color);
  border: 1px solid var(--third-bg-color);
  color: var(--second-bg-color);
  &:hover {
    background-color: var(--second-bg-color);
    border: 1px solid var(--main-bg-color);
    color: var(--main-bg-color);
  }
}

.card_description {
  width: 90%;
  padding: 1.5rem;
  height: 60%;
  min-height: 15rem;
  border-radius: 10px;
  /* border: 1px solid var(--main-bg-color); */
  color: var(--main-bg-color);
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  line-height: 1.5rem;

  font-size: 120%;
  transition: all 1s;
}

.text_attention {
  color: var(--accent-color);
  font-weight: bolder;
}

.button_wrapper {
  width: 90%;

  display: none;
  border-radius: 10px;
}

.question_placeholder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.question_text {
  width: 95%;
  font-size: 0.7rem;
  min-height: 4rem;
  height: fit-content;

  margin-top: -2rem;
  margin-bottom: 0.7rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  /* border: 1px dotted darkblue; */
  background-color: var(--main-bg-color);
  color: var(--second-bg-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bolder;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.answer_text {
  width: 90%;
  min-width: 2rem;
  min-height: 2rem;
  height: fit-content;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.5rem;

  border: 1px solid var(--main-bg-color);
  color: var(--main-bg-color);
  border-radius: 10px;
  margin-bottom: 0.7rem;
  transition: all 0.1s linear;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  &:hover {
    background-color: var(--main-bg-color);
    color: var(--accent-color);
    font-weight: bolder;
  }
}

@keyframes width_animation {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.answer_hovered {
  background-color: var(--main-bg-color);
  color: var(--second-bg-color);
}

.scaling {
  position: relative;
}
.scaling::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--second-bg-color);
  animation: width_animation 0.5s linear;
  border-radius: 10px;
  opacity: 0.4;
}

.inactive {
  width: 90%;
  min-width: 2rem;
  min-height: 2rem;
  height: fit-content;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.2rem;

  border: 1px solid grey;
  color: grey;
  border-radius: 10px;
  margin-bottom: 0.7rem;
  transition: all 0.1s linear;
}

.clicked {
  background-color: blue;
  color: white;
  &:hover {
    background-color: none;
  }
}

.next_question {
  min-width: 160px;
  width: 50%;
  min-height: 0.8rem;
  height: 1rem;
  padding: 1rem;

  /* border: 1px solid pink; */
  background-color: var(--main-bg-color);
  border-radius: 10px;
  margin: 0.5rem;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  font-size: 80%;
  color: var(--second-bg-color);

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  &:hover {
    background-color: var(--second-bg-color);
    color: var(--main-bg-color);
    border: 1px solid var(--main-bg-color);
  }
}

.enabled {
  background-color: var(--main-bg-color);
  color: var(--second-bg-color);

  box-shadow: rgba(50, 50, 93, 0.15) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.15) 0px 18px 36px -18px inset;

  &:hover {
    background-color: white;
    color: var(--main-bg-color);
  }
}

.correct_card_description {
  background-color: green;
}

.incorrect_card_description {
  background-color: red;
}

@media screen and (max-width: 540px) {
  .test_wrapp {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .left_col {
    width: 100%;
    height: 40svh;
    border-right: none;
    /* border-bottom: 1px dotted var(--third-bg-color); */
  }

  .img_wrapper {
    margin-top: 0;
  }

  .right_col {
    width: 100%;
    height: 70%;
    /* max-height: fit-content; */
    border: none;
    margin-top: 0;
    padding-top: 0;
    justify-content: space-around;
  }

  .card_description {
    min-height: fit-content;
    padding: 0;
    margin: 1rem auto;
    font-size: 1rem;
  }

  .start_description {
    margin: 0, 0, 0, 1rem;

    padding: 0;
  }

  .question_placeholder {
    margin-top: 2rem;
  }

  .question_placeholder > * {
    font-size: 80%;
  }

  .question_text {
    max-width: 90%;
    min-height: 3.5rem;
  }

  .inactive,
  .answer_text {
    min-height: 1.5rem;
    margin-bottom: 0.3rem;
    max-width: 70%;
    padding: 0.3rem;
  }

  .next_question {
    min-height: 1.5rem;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .test_wrapp {
    align-items: center;
    justify-content: center;
  }

  .left_col {
    height: 40svh;
  }

  .right_col {
    height: fit-content;
    justify-content: space-between;
  }

  .card_description {
    height: min-content;
  }
}

/* Анимациии для привлечения внимания */

@keyframes to_head {
  to {
    transform: scale(1.3) translateY(5rem);
  }
}

.to_head {
  animation: to_head 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes go_back {
  to {
    transform: scale(1) translateY(0);
  }
}
.go_back {
  animation: go_back 1s ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes to_scale {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

.to_scale {
  animation: to_scale 0.5s ease-in-out forwards;
  transform-origin: 50% 50%;
}

@keyframes text_go_out {
  to {
    transform: translateY(-2rem);
    opacity: 0;
  }
}

.text_go_out {
  animation: text_go_out 1s ease-in-out;
}

@keyframes text_go_in {
  from {
    transform: translateY(-2rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.text_go_in {
  animation: text_go_in 1s ease-in-out;
}

@keyframes swap_to_right {
  to {
    transform: translateX(2rem);
    opacity: 0;
  }
}

.swap_to_right {
  animation: swap_to_right 1s ease-in-out;
}

@keyframes swap_to_centre {
  from {
    transform: translateX(-2rem);
    opacity: 0;
  }
  to {
    tranasform: translateX(0);
    opacity: 1;
  }
}

.swap_to_centre {
  animation: swap_to_centre 1s ease-in-out;
}

@keyframes swap_down {
  to {
    transform: translateY(2rem);
    opacity: 0;
  }
}

.swap_down {
  animation: swap_down 1s ease-in-out;
}

@keyframes fade_in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade_in {
  animation: fade_in 1s ease-in-out;
}

@keyframes fade_out {
  to {
    opacity: 0;
  }
}

.fade_out {
  animation: fade_out 1s ease-in-out;
}
